#ignore all files with no extension
*
!*.*
!*/

#specific files
create_children_wait.c
shm_tst.c
print_sig_type.c

#exclude .idea/ directories
.idea/*
cmake-build-debug/*
/testdir
in.txt
out.txt
*.txt